### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

### Solution

In [1]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
# STEP 1 : getting the webpage https://www.naukri.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.naukri.com/')

In [3]:
# STEP 2:Entering “Data Analyst” in “Skill, Designations, Companies” field and “Bangalore” in “enter the location” field.

# Entering designation
designation = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys('Data Analyst')

# Entering Location
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [4]:
# STEP 3 : clicking the search button. 

search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search_btn.click()
# witing for page to load properly
time.sleep(5)

In [5]:
# STEP 4: scraping the data for the first 10 jobs results

#creating empty lists
job_title = []
job_location = []
company_name = []
experience_required  = []

# Screaping job titles
job_tit_data = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in range(10):
    job_title.append(job_tit_data[i].text)

# Screaping job location
job_loc_data = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in range(10):
    job_location.append(job_loc_data[i].text)

# Screaping company name
company_name_data = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in range(10):
    company_name.append(company_name_data[i].text)

# Screaping experience required 
experience_required_data = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in range(10):
    experience_required.append(experience_required_data[i].text)

In [6]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [7]:
# STEP 5 : creating a dataframe of the scraped data.
df1 = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df1

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
1,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
2,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
4,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
5,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs
6,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs
7,Data Analyst,Bangalore/Bengaluru,Juniper Networks,5-9 Yrs
8,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Noida, Pune, ...",Infogain,4-7 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Portcast,2-6 Yrs

### Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

### Solution

In [8]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [9]:
# STEP 1 : getting the webpage https://www.naukri.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.naukri.com/')

In [10]:
# STEP 2:Entering “Data Scientist” in “Skill, Designations, Companies” field and “Bangalore” in “enter the location” field.

# Entering designation
designation = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys('Data Scientist')

# Entering Location
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [11]:
# STEP 3 : clicking the search button. 

search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search_btn.click()
# witing for page to load properly
time.sleep(5)

In [12]:
# STEP 4: scraping the data for the first 10 jobs results

#creating empty lists
job_title = []
job_location = []
company_name = []

# Screaping job titles
job_tit_data = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in range(10):
    job_title.append(job_tit_data[i].text)

# Screaping job location
job_loc_data = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in range(10):
    job_location.append(job_loc_data[i].text)

# Screaping company name
company_name_data = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in range(10):
    company_name.append(company_name_data[i].text)

In [13]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [14]:
# STEP 5 : creating a dataframe of the scraped data.
df2 = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name})
df2

,Job Title,Job Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Data Science Analyst - Data Science,Bangalore/Bengaluru,Accenture
4,Data Science Analyst Data Science,Bangalore/Bengaluru,Accenture
5,Analytics Specialist - Artificial Intelligence...,Bangalore/Bengaluru,Accenture
6,Senior Data Scientist,Bangalore/Bengaluru,Walmart
7,"Data Scientist, Engineering at Google","Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Blob Infotech
8,Opportunity | Data Scientist | Tavant India,"Bangalore/Bengaluru, Noida, Kolkata, Hyderabad...",Tavant Technologies
9,Sr. Data Scientist - Python / ML / DL,"Bangalore/Bengaluru, Noida, Mumbai, Chandigarh...",AVE Promagne

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
##### You have to use the location and salary filter.
##### You have to scrape data for “Data Scientist” designation for first 10 job results. 
##### You have to scrape the job-title, job-location, company name, experience required.
##### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

### Solution

In [15]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [16]:
# STEP 1 : getting the webpage https://www.naukri.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.naukri.com/')

In [17]:
# STEP 2:Entering “Data Scientist” in “Skill, Designations, Companies” field.
# Entering designation
designation = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys('Data Scientist')

In [18]:
# STEP 3 : clicking the search button. 

search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search_btn.click()
# witing for page to load properly
time.sleep(5)

In [19]:
# STEP 4 : Applying the location filter and salary filter by checking the respective boxes

# Applying Delhi/NCR in location filter
loc_filter = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')
loc_filter.click()
time.sleep(5)

In [20]:
# Applying “3-6” lakhs in salary filter
salary_filter = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')
salary_filter.click()
time.sleep(5)

In [21]:
# STEP 4: scraping the data for the first 10 jobs results

#creating empty lists
job_title = []
job_location = []
company_name = []
experience_required  = []

# Screaping job titles
job_tit_data = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in range(10):
    job_title.append(job_tit_data[i].text)

# Screaping job location
job_loc_data = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in range(10):
    job_location.append(job_loc_data[i].text)

# Screaping company name
company_name_data = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in range(10):
    company_name.append(company_name_data[i].text)

# Screaping experience required 
experience_required_data = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in range(10):
    experience_required.append(experience_required_data[i].text)

In [22]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [23]:
# STEP 6 : creating a dataframe of the scraped data.
df3 = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df3

,Job Title,Job Location,Company Name,Experience Required
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
3,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
4,Data Scientist - II (Contract),Gurgaon/Gurugram,Netomi,3-7 Yrs
5,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
6,Research Scientist - Bioinformatics,Gurgaon/Gurugram,Biopeople India,0-2 Yrs
7,Data Scientist - I,Gurgaon/Gurugram,Netomi,3-6 Yrs
8,Machine Learning Engineer,Noida,Profit By Outsourcing,2-7 Yrs
9,Assistant Manager - Data Scientist,Gurgaon/Gurugram,Fidelity International,5-7 Yrs

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

### Solution

In [24]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [25]:
# STEP 1 : getting the webpage https://www.flipkart.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.flipkart.com/')

In [26]:
# skipping the login page
skip_login = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
skip_login.click()

In [27]:
# Step 2:Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

#Entering “sunglasses” in the search field
search_field = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_field.send_keys('sunglasses')

#clicking the search icon
search_icon = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_icon.click()
# witing for page to load properly
time.sleep(5)

In [28]:
# STEP 3: scraping the data form the first page

#creating empty lists
Brand = []
ProductDescription = []
Price = []

# Screaping data
product_data =  driver.find_elements(By.XPATH,'//div[@class="_2B099V"]') 
for i in product_data:
    Brand.append(i.text.split('\n')[0])
    ProductDescription.append(i.text.split('\n')[1])
    Price.append(i.text.split('\n')[2].split('₹')[1])

In [29]:
print(len(Brand),len(ProductDescription),len(Price))

40 40 40

In [30]:
# Step 4 : clicking next button
next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_btn.click()
# witing for page to load properly
time.sleep(5)

In [31]:
# Step 5 : scraping data from this page asusual
product_data =  driver.find_elements(By.XPATH,'//div[@class="_2B099V"]') 
for i in product_data:
    Brand.append(i.text.split('\n')[0])
    ProductDescription.append(i.text.split('\n')[1])
    Price.append(i.text.split('\n')[2].split('₹')[1])

In [32]:
print(len(Brand),len(ProductDescription),len(Price))

80 80 80

In [33]:
# step 6 : Repeat this until you get data for 100sunglasses.
while len(Brand) < 100:
# clicking next button
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)
# scraping data from this page 
    product_data =  driver.find_elements(By.XPATH,'//div[@class="_2B099V"]') 
    for i in product_data:
        Brand.append(i.text.split('\n')[0])
        ProductDescription.append(i.text.split('\n')[1])
        Price.append(i.text.split('\n')[2].split('₹')[1])

In [34]:
print(len(Brand),len(ProductDescription),len(Price))

120 120 120

In [35]:
# STEP 7 : Creating Data Frame
df4 = pd.DataFrame({'Brand':Brand[:100],'Product Description':ProductDescription[:100],'Price':Price[:100]})
df4

               Brand                                Product Description Price
0             AISLIN                 UV Protection Oval Sunglasses (60)   598
1              NuVew               UV Protection Sports Sunglasses (69)   345
2          Elligator             UV Protection Wayfarer Sunglasses (53)   149
3          Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...   149
4             PIRASO           UV Protection Clubmaster Sunglasses (54)   224
..               ...                                                ...   ...
95            AISLIN        UV Protection Oval, Aviator Sunglasses (60)   845
96          Fastrack      UV Protection Wayfarer Sunglasses (Free Size)   579
97          Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...   539
98  Shaah Collection  UV Protection, Polarized, Mirrored Rectangular...   185
99            AISLIN        UV Protection Oval, Aviator Sunglasses (65)   685

[100 rows x 3 columns]

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

### Solution

In [36]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [37]:
# STEP 1 : getting the required webpage 
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')
# witing for page to load properly
time.sleep(5)

In [38]:
# Step 2 : Creating empty lists for web scraping
Rating = []
Review_summary = []
Full_review = []

In [39]:
# Step 3 : Scraping First Page
data = driver.find_elements(By.XPATH,'//div[@class="col _2wzgFH K0kLPL"]')
for i in data:
    Rating.append(i.text.split("\n")[0])
    Review_summary.append(i.text.split("\n")[1])
    Full_review.append('\n'.join(i.text.split('\n')[2:-4]))
time.sleep(2)

In [40]:
# Step 4 : Clicking next button
next_btn = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
# displaying next btn and clicking it
next_btn.location_once_scrolled_into_view
next_btn.click()

time.sleep(5)

In [41]:
# Step 5 : Scraping Until we get 100 results
while len(Rating) <100:
    
    data = driver.find_elements(By.XPATH,'//div[@class="col _2wzgFH K0kLPL"]')
    for i in data:
        Rating.append(i.text.split("\n")[0])
        Review_summary.append(i.text.split("\n")[1])
        Full_review.append('\n'.join(i.text.split('\n')[2:-4]))
        
    if len(Rating)==len(Review_summary) and len(Rating)==len(Full_review):
        #clicking next button
        next_btn = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
        next_btn.location_once_scrolled_into_view
        next_btn.click()
        # Waiting for page to load
        time.sleep(3)
    else:
        raise Exception ('Sorry, values are Not Equal')

In [42]:
print(len(Rating),len(Review_summary),len(Full_review))

100 100 100

In [43]:
df5 = pd.DataFrame({'Rating':Rating,'Review summary':Review_summary,'Full review':Full_review})
df5

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
96,5,Wonderful,Its good.. a little heavy on my pinky but its ...
97,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
98,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
99,5,Perfect product!,Worth the money’ starting first from its perfo...

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
### You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Pric

In [44]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [45]:
# STEP 1 : getting the webpage https://www.flipkart.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.flipkart.com/')

In [46]:
# skipping the login page
skip_login = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
skip_login.click()

In [47]:
# Step 2:Enter “sneakers” in the search field where “search for products, brands and more” is written and click the search icon

#Entering “sneakers” in the search field
search_field = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_field.send_keys('sneakers')

#clicking the search icon
search_icon = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_icon.click()
# witing for page to load properly
time.sleep(5)

In [48]:
# STEP 3: scraping the data form the first page

#creating empty lists
Brand = []
ProductDescription = []
Price = []

# Screaping data
product_data =  driver.find_elements(By.XPATH,'//div[@class="_2B099V"]') 
for i in product_data:
    Brand.append(i.text.split('\n')[0])
    ProductDescription.append(i.text.split('\n')[1])
    Price.append(i.text.split('\n')[2].split('₹')[1])

In [49]:
print(len(Brand),len(ProductDescription),len(Price))

40 40 40

In [50]:
# Step 4 : clicking next button
next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_btn.click()
# witing for page to load properly
time.sleep(5)

In [51]:
# step 5 : Repeat this until you get data for 100sunglasses.
while len(Brand) < 100:

# scraping data from this page 
    product_data =  driver.find_elements(By.XPATH,'//div[@class="_2B099V"]') 
    for i in product_data:
        Brand.append(i.text.split('\n')[0])
        ProductDescription.append(i.text.split('\n')[1])
        Price.append(i.text.split('\n')[2].split('₹')[1]) 
# clicking next button
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)

In [52]:
print(len(Brand),len(ProductDescription),len(Price))

120 120 120

In [53]:
# STEP 7 : Creating Data Frame
df6 = pd.DataFrame({'Brand':Brand[:100],'Product Description':ProductDescription[:100],'Price':Price[:100]})
df6

         Brand                                Product Description  Price
0       Labbin                                   Sneakers For Men    429
1        BIRDE  Premium Casual Shoes Extra Lace Sneakers For W...    349
2        BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men    499
3       RINDAS                                 Sneakers For Women    399
4         aadi  Synthetic| Lightweight| Premiun| Comfort| Summ...    299
..         ...                                                ...    ...
95       BIRDE                    Casual Shoes Sneakers For Women    323
96        ATOM                                   Sneakers For Men  1,495
97    RapidBox                                   Sneakers For Men    579
98  HIGHLANDER                                   Sneakers For Men    497
99      Layasa  Casual Sneakers White Shoes For Girls And Snea...    449

[100 rows x 3 columns]

### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
### set CPU Type filter to “Intel Core i7” as shown in the below image:
### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [54]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [55]:
# STEP 1 : getting the webpage https://www.flipkart.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.amazon.in/')

In [56]:
# Step 2:Entering “Laptop” in the search field and click the search icon

#Entering “Laptop” in the search field
search_field = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_field.send_keys('Laptop')

#clicking the search icon
search_icon = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_icon.click()
# witing for page to load properly
time.sleep(5)

In [57]:
# Step 3 : Setting CPU type filter to “Intel Core i7”
filter_icon = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[9]/li/span/a/span')
filter_icon.click()

In [58]:
# STEP 3: scraping the data form the first page

#creating empty lists
Title = []
Ratings = []
Price = []

# Screaping data 
product_data =  driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-small a-spacing-top-small"]')
# Scraping 10 products which contain ratings data
p = 0

for i in product_data:
    if p < 10:
        try:
            Ratings.append(int(i.text.split('\n')[1]))
            Title.append(i.text.split('\n')[0])
            # gettring price text based on great summer sale text
            if i.text.split('\n')[2]=='Great Summer Sale':
                
                Price.append(i.text.split('\n')[3].split(' ')[0])
            else:
                Price.append(i.text.split('\n')[2].split(' ')[0])
            p+=1
        except:
            # if error occurs means rating data is not int hence skip
            continue

In [59]:
print(len(Ratings),len(Price),len(Title))

10 10 10

In [60]:
# Step 4 : Creating Data Frame
df7 = pd.DataFrame({'Title':Title,'Price':Price,'Ratings':Ratings})
df7

                                               Title    Price  Ratings
0  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...  ₹32,990      171
1  HP 15s, 11th Gen Intel Core i3 8GB RAM/1TB HDD...  ₹38,490       63
2  ASUS Vivobook 14, Intel Core i3-1115G4 11th Ge...  ₹34,990      237
3  Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...  ₹36,490      493
4  Dell Vostro 3420 Laptop,12th Gen Intel Core i3...  ₹39,990      165
5  ASUS VivoBook 15, Intel Core i3-1115G4 11th Ge...  ₹35,990       20
6  ASUS VivoBook 14, Intel Core i3-1115G4 11th Ge...  ₹34,990      237
7  HP 15s, 11th Gen Intel Core i3, 8GB RAM/512GB ...  ₹40,950      245
8  Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...  ₹37,490      146
9  ASUS Vivobook 15, Intel Core i3-1220P 12th Gen...  ₹40,990       30

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
### The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

### Solution

In [61]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [62]:
# STEP 1 : getting the webpage https://www.azquotes.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.azquotes.com/')

In [63]:
# Step 2 : Clicking on top quotes
top_quotes_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes_btn.click()

In [64]:
# Step 3 : Scraping 1st page

#Creating Empty Lists
Quote = []
Author = []
Type_of_Quote = []

#scraping data
data = driver.find_elements(By.XPATH,'//div[@class="wrap-block"]')

for i in data:
    Quote.append(i.text.split('\n')[0])
    Author.append(i.text.split('\n')[1])
    Type_of_Quote.append(i.text.split('\n')[2])

In [65]:
print(len(Quote),len(Author),len(Type_of_Quote))

100 100 100

In [66]:
# Step 4 : clicking next button
next_btn = driver.find_element(By.XPATH,'//li[@class="next"]')
next_btn.click()

In [67]:
# Step 5 : repeating Process untill we get 1000 quotes

while len(Quote) <1000:
    #scraping data
    data = driver.find_elements(By.XPATH,'//div[@class="wrap-block"]')

    for i in data:
        Quote.append(i.text.split('\n')[0])
        Author.append(i.text.split('\n')[1])
        Type_of_Quote.append(i.text.split('\n')[2])
    #Skipping next when no of quotes = 1000    
    if len(Quote) <1000:
        #clicking next button
        next_btn = driver.find_element(By.XPATH,'//li[@class="next"]')
        next_btn.click()
        # waiting for page to load properly
        time.sleep(2)

In [68]:
print(len(Quote),len(Author),len(Type_of_Quote))

1000 1000 1000

In [69]:
# Step 4 : Creating Data Frame
df8 = pd.DataFrame({'Quote':Quote,'Author':Author,'Type of Quote':Type_of_Quote})
df8

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

### Solution

In [70]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [71]:
# STEP 1 : getting the webpage https://www.jagranjosh.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.jagranjosh.com/')

In [72]:
# Step 2: Clicking on GK Option
gk_op_btn = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
gk_op_btn.click()

In [73]:
# Step 3: Clicking on List of all Prime Ministers of India
pm_list = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm_list.location_once_scrolled_into_view
pm_list.click()

In [74]:
# Step 4 : Scraping web data
#creating empty lists
Name = []
Born_Dead = []
Term_of_office= []
Term_of_office_days= []
Remarks = []
# web scraping
data = driver.find_element(By.XPATH,'//div[@class="table-box"]')
# scraping Born Dead data
for i in range(7,len(data.text.split('\n')),6):
    Born_Dead.append(data.text.split('\n')[i][1:-1])

# scraping Name data 
for i in range(6,len(data.text.split('\n')),6):
    Name.append(data.text.split('\n')[i])

# scraping Term of office data
for i in range(8,len(data.text.split('\n')),6):
    Term_of_office.append(data.text.split('\n')[i])    

# scraping Term of office in days data
for i in range(9,len(data.text.split('\n'))-1,6):
    Term_of_office_days.append(data.text.split('\n')[i])
# Adding Narendra Modi data    
Term_of_office_days.append('Ongoing')    

# scraping Remarks data
for i in range(10,len(data.text.split('\n')),6):
    Remarks.append(data.text.split('\n')[i])
# Adding Narendra Modi data
Remarks.append(data.text.split('\n')[-1])

In [75]:
print(len(Name),len(Born_Dead),len(Term_of_office),len(Term_of_office_days),len(Remarks))

18 18 18 18 18

In [76]:
# Step 5: Creating Data Frame
df9 = pd.DataFrame({'Name':Name,'Born Dead':Born_Dead,'Term of office':Term_of_office,'Term of office in days':Term_of_office_days,'Remarks':Remarks})

df9

,Name,Born Dead,Term of office,Term of office in days,Remarks
0,Jawahar Lal Nehru,1889–1964,15 August 1947 to 27 May 1964,"16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),1898-1998,"27 May 1964 to 9 June 1964,",13 days,First acting PM of India
2,Lal Bahadur Shastri,1904–1966,9 June 1964 to 11 January 1966,"1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),1898-1998,11 January 1966 to 24 January 1966,13 days,-
4,Indira Gandhi,1917–1984,24 January 1966 to 24 March 1977,"11 years, 59 days",First female Prime Minister of India
5,Morarji Desai,1896–1995,24 March 1977 to 28 July 1979,"2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,1902–1987,28 July 1979 to 14 January 1980,170 days,Only PM who did not face the Parliament
7,Indira Gandhi,1917–1984,14 January 1980 to 31 October 1984,"4 years, 291 days",The first lady who served as PM for the second...
8,Rajiv Gandhi,1944–1991,31 October 1984 to 2 December 1989,"5 years, 32 days",Youngest to become PM (40 years old)
9,V. P. Singh,1931–2008,2 December 1989 to 10 November 1990,343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,1927–2007,10 November 1990 to 21 June 1991,223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,1921–2004,21 June 1991 to 16 May 1996,"4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,1924- 2018,16 May 1996 to 1 June 1996,16 days,PM for shortest tenure
13,H. D. Deve Gowda,born 1933,1 June 1996 to 21 April 1997,324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,1919–2012,21 April 1997 to 19 March 1998,332 days,------
15,Atal Bihari Vajpayee,1924-2018,19 March 1998 to 22 May 2004,"6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,born 1932,22 May 2004 to 26 May 2014,"10 years, 4 days",First Sikh PM
17,Narendra Modi,born 1950,26 May 2014 - Present,Ongoing,4th Prime Minister of India who served two con...

### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
#### This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive cars in the world.
4. Then scrap the mentioned data and make the dataframe.

### Solution

In [77]:
# Importing all necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [78]:
# STEP 1 : getting the webpage https://www.motor1.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# going to naukari.com
driver.get('https://www.motor1.com/')

In [79]:
# Step 2 : Clicking on the List option from Dropdown menu on leftside.

#clicling options button
opt_btn= driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
opt_btn.click()
# waiting for page to load
time.sleep(2)

# clicling drop down button
dropdown_btn= driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
dropdown_btn.click()
time.sleep(0.25)

# clicling list option
list_btn= driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
list_btn.click()
time.sleep(3)

In [80]:
# Step 3 : clicking on 50 most expensive cars in the world.
exp_cars_btn = driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[7]/div/div[1]')
exp_cars_btn.click()
time.sleep(0.25)

In [81]:
# Step 4 : Scraping Required Data

# Creating Empty List
Car_name=[]
Price = []

#Scraping Name data
Car_name_data= driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in range(50):    
    Car_name.append(Car_name_data[i].text)
    
#scraping Price Data
Price_data= driver.find_elements(By.XPATH,'//strong')
#scraping based on text
for i in Price_data:
    if i.text == "":
        pass
    elif i.text[:6] == 'Price:':
        Price.append(i.text[7:])
    elif i.text[0] == '$':
        Price.append(i.text)

In [82]:
print(len(Car_name),len(Price))

50 50

In [83]:
# Step 5: Creating Data Frame
df10 = pd.DataFrame({'Car Name':Car_name,'Car Price':Price})

df10

                           Car Name             Car Price
0                     De Tomaso P72          $1.3 Million
1                 Ferrari LaFerrari          $1.4 Million
2                     Pagani Huayra          $1.4 Million
3                      McLaren Elva          $1.7 Million
4                       Czinger 21C          $1.7 Million
5                     Ferrari Monza          $1.7 Million
6                Gordon Murray T.33          $1.7 Million
7                 Koenigsegg Gemera          $1.7 Million
8                       Zenvo TSR-S          $1.7 Million
9                Hennessey Venom F5          $1.8 Million
10                  Bentley Bacalar          $1.9 Million
11    Hispano Suiza Carmen Boulogne          $1.9 Million
12           Bentley Mulliner Batur          $2.0 Million
13                     Deus Vayanne          $2.0 Million
14                      SSC Tuatara         $2.0 Million*
15                      Lotus Evija          $2.1 Million
16              Aston Martin Vulcan          $2.3 Million
17                       Delage D12          $2.3 Million
18                McLaren Speedtail          $2.3 Million
19                     Rimac Nevera          $2.4 Million
20                    Pagani Utopia          $2.5 Million
21             Pininfarina Battista          $2.5 Million
22                Ferrari FXX K Evo          $2.6 Million
23               Gordon Murray T.50          $2.6 Million
24             Lamborghini Countach          $2.6 Million
25         Mercedes-AMG Project One          $2.7 Million
26              Aston Martin Victor          $3.0 Million
27      Hennessey Venom F5 Roadster          $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie          $3.2 Million
30        W Motors Lykan Hypersport          $3.4 Million
31                    McLaren Solus          $3.5 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport          $3.6 Million
34                 Lamborghini Sian          $3.6 million
35                 Koenigsegg CC850          $3.7 Million
36  Bugatti Chiron Super Sport 300+          $3.9 Million
37               Lamborghini Veneno          $4.5 Million
38                   Bugatti Bolide          $4.7 Million
39                  Bugatti Mistral          $5.0 Million
40              Pagani Huayra Imola          $5.4 Million
41                     Bugatti Divo          $5.8 Million
42              SP Automotive Chaos          $6.4 Million
43                 Pagani Codalunga          $7.4 Million
44         Mercedes-Maybach Exelero          $8.0 Million
45               Bugatti Centodieci          $9.0 Million
46          Bugatti Chiron Profilée         $10.8 Million
47             Rolls-Royce Sweptail         $12.8 Million
48         Bugatti La Voiture Noire         $13.4 Million
49           Rolls-Royce Boat Tail*  $28.0 Million (est.)