### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
##### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
##### You need to find following details:
1. Rank
2. Name
3. Artist
4. Upload date
5. Views

In [1]:
#importing required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [2]:
# getting the webpage https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# # getting the link
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [3]:
# Creating Empty List
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

# Scraping Rank data
Rank_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')))
for i in Rank_data:
    Rank.append(i.text[:-1])

# Scraping Name Data
Name_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')))
for i in Name_data:
    Name.append(i.text.split('"')[1])
    
# Scraping Artist Data
Artist_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')))
for i in Artist_data:
    Artist.append(i.text)
    
# Scraping Upload Date Data
Upload_date_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')))
for i in Upload_date_data:
    Upload_date.append(i.text)
    
# Scraping Views Data

Views_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')))
for i in Views_data:
    Views.append(i.text)

In [4]:
print(len(Rank),len(Name),len(Artist),len(Upload_date),len(Views))

30 30 30 30 30

In [5]:
# Creating Dataframe
df1=pd.DataFrame({'Rank':Rank,'Video Name':Name,"Artist":Artist,'Upload Date':Upload_date,'Views(in Billion)':Views})
df1

,Rank,Video Name,Artist,Upload Date,Views(in Billion)
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2,Despacito,Luis Fonsi,"January 12, 2017",8.14
2,3,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.69
3,4,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5,Shape of You,Ed Sheeran,"January 30, 2017",5.97
5,6,See You Again,Wiz Khalifa,"April 6, 2015",5.86
6,7,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.26
7,8,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9,Uptown Funk,Mark Ronson,"November 19, 2014",4.89
9,10,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.87
10,11,Gangnam Style,Psy,"July 15, 2012",4.77
11,12,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
12,13,Dame Tu Cosita,El Chombo,"April 5, 2018",4.32
13,14,Axel F,Crazy Frog,"June 16, 2009",3.87
14,15,Sugar,Maroon 5,"January 14, 2015",3.86
15,16,Roar,Katy Perry,"September 5, 2013",3.78
16,17,Counting Stars,OneRepublic,"May 31, 2013",3.77
17,18,Sorry,Justin Bieber,"October 22, 2015",3.65
18,19,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.58
20,21,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.56
21,22,Dark Horse,Katy Perry,"February 20, 2014",3.50
22,23,Faded,Alan Walker,"December 3, 2015",3.44
23,24,Perfect,Ed Sheeran,"November 9, 2017",3.42
24,25,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.42
25,26,Let Her Go,Passenger,"July 25, 2012",3.42
26,27,Girls Like You,Maroon 5,"May 31, 2018",3.40
27,28,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29,Lean On,Major Lazer,"March 22, 2015",3.37
29,30,Bailando,Enrique Iglesias,"April 11, 2014",3.37

In [6]:
driver.close()

### 2. Scrape the details team India’s international fixtures from bcci.tv. 
##### Url = https://www.bcci.tv/.
##### You need to find following details:
1. Match title (I.e. 1stODI)
2. Series
3. Place
4. Date
5. Time

In [7]:
#importing required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [8]:
# getting the webpage https://www.bcci.tv/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# # getting the link
driver.get('https://www.bcci.tv/')

In [9]:
# Clicking International Button
int_btn = WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a')))
int_btn.click()

In [10]:
# Creating Empty Lists
Match_title = []
Series = []
Place = []
Date = []
Time= []

#Scraping Title Data
Series_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')))
for i in Series_data:
    Series.append(i.text)

#Scraping series and place Data
Match_title_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="match-place ng-scope"]')))
for i in Match_title_data:
    Match_title.append(i.text.split('-')[0])
    Place.append(i.text.split('-')[1])

#Scraping Date Data
Date_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="match-dates ng-binding"]')))
for i in Date_data:
    Date.append(i.text)
    
#Scraping Time Data
Time_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="match-time no-margin ng-binding"]')))
for i in Time_data:
    Time.append(i.text)

In [11]:
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

1 1 1 1 1

In [12]:
# Creating Data Frame
df2=pd.DataFrame({'Match title':Match_title,'Series':Series,"Place":Place,'Date':Date,'Time':Time})
df2

,Match title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,"Kennington Oval, London",7 JUN 2023,3:30 PM IST

In [13]:
driver.close()

### 3. Scrape the details of State-wise GDP of India from statisticstime.com. 
##### Url = http://statisticstimes.com/
##### You have to find following details:
1. Rank
2. State
3. GSDP(18-19)- at current prices
4. GSDP(19-20)- at current prices
5. Share(18-19)
6. GDP($ billion

In [14]:
#importing required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [15]:
# getting the webpage http://statisticstimes.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# # getting the link
driver.get('http://statisticstimes.com/')

In [16]:
# Going to economy of india
ecn_btn = WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')))
driver.get(ecn_btn.get_attribute('href'))

In [17]:
# getting state gdp of india page
gdp_btn = WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')))
driver.get(gdp_btn.get_attribute('href'))

In [18]:
# Creating Empty Lists
Rank =[]
State = []
Gsdp_18_19=[]
Share_18_19=[]
Gsdp_19_20=[]
Gdp=[]

# Scraping Rank data
Rank_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')))
for i in Rank_data:
    Rank.append(i.text)
    
# Scraping State data
State_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')))
for i in State_data:
    State.append(i.text)

# Scraping Gsdp(18-19) data
Gsdp_18_19_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')))
for i in Gsdp_18_19_data:
    Gsdp_18_19.append(i.text)

# Scraping Gsdp(19-20) data
Gsdp_19_20_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')))
for i in Gsdp_19_20_data:
    Gsdp_19_20.append(i.text)

# Scraping share(18-19) data
Share_18_19_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')))
for i in Share_18_19_data:
    Share_18_19.append(i.text)

# Scraping Gdp data
Gdp_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')))
for i in Gdp_data:
    Gdp.append(i.text)

In [19]:
print(len(Rank),len(State),len(Gsdp_19_20),len(Gsdp_18_19),len(Share_18_19),len(Gdp))

33 33 33 33 33 33

In [20]:
# Creating Data Frame
df3 = pd.DataFrame({'Rank':Rank,'State':State,'Gsdp(19-20)':Gsdp_19_20,'Gsdp(18-19)':Gsdp_18_19,'Share(18-19)':Share_18_19,'GDP (In $Billions)':Gdp})
df3

,Rank,State,Gsdp(19-20),Gsdp(18-19),Share(18-19),GDP (In $Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [21]:
driver.close()

### 4. Scrape the details of trending repositories on Github.com. 
##### Url = https://github.com/
##### You have to find the following details:
1. Repository title
2. Repository description
3. Contributors count
4. Language used


##### Solution

In [22]:
#importing required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [23]:
# getting the webpage https://github.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# # getting the link
driver.get('https://github.com/')

In [24]:
# clicking open source tab
op_src_btn = WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')))
op_src_btn.click()
# Clicking Trending btn
tr_btn = WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')))
tr_btn.click()

In [25]:
#Creating Empty Lists
title=[]
description=[]
Contributors_count=[]
Language_used=[]
url = []

# Scraping Name Data
title_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//h2[@class="h3 lh-condensed"]/a')))

for i in title_data:
    title.append(i.text)
    url.append(i.get_attribute('href'))

# Scraping Description Data
description_data = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')))
for i in description_data:
    description.append(i.text)

for j in range(len(url)):
        
    driver.get(url[j])
    Contributors_count_data=WebDriverWait(driver,60).until(EC.presence_of_all_elements_located((By.XPATH,'//h2[@class="h4 mb-3"]')))
    for i in Contributors_count_data:
        if i.text.split(' ')[0] == 'Contributors':
            Contributors_count.append(i.text.split(' ')[1])
    Language_used_data=WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,'//ul[@class="list-style-none"]')))
    for l in range(len(Language_used_data)-1,-1,-1):
        if Language_used_data[l].text != "":
            data = []
            for k in range(0,len(Language_used_data[l].text.split('\n')),2):
                data.append(Language_used_data[l].text.split('\n')[k])
            Language_used.append(','.join(data))
            break
    if len(Contributors_count) < j+1:
        Contributors_count.append('1')
    if len(Language_used) < j+1:
        Language_used.append('-')

In [26]:
print(len(description),len(title),len(Language_used),len(Contributors_count),)

25 25 25 25

In [27]:
driver.close()

In [28]:
# Creating Data Frame
df4 = pd.DataFrame({'Title':title,'Description':description,'Language used':Language_used,'Contributors count':Contributors_count,'URL':url})
df4

,Title,Description,Language used,Contributors count,URL
0,pengxiao-song / LaWGPT,"🎉 Repo for LaWGPT, Chinese-Llama tuned with Ch...","Python,Shell",2,https://github.com/pengxiao-song/LaWGPT
1,w-okada / voice-changer,リアルタイムボイスチェンジャー Realtime Voice Changer,"TypeScript,Python,Jupyter Notebook,CSS,Shell,J...",7,https://github.com/w-okada/voice-changer
2,NaiboWang / EasySpider,A visual no-code/code-free web crawler/spider一...,"JavaScript,HTML,Python,Vue,CSS,TypeScript,Other",3,https://github.com/NaiboWang/EasySpider
3,JiauZhang / DragGAN,Implementation of DragGAN: Interactive Point-b...,Python,1,https://github.com/JiauZhang/DragGAN
4,XingangPan / DragGAN,Code for DragGAN (SIGGRAPH 2023),-,1,https://github.com/XingangPan/DragGAN
5,UFund-Me / Qbot,[🔥updating ...] 自动量化交易机器人 Qbot is an AI-orient...,"Jupyter Notebook,HTML,Python,Go,Vue,TypeScript...",1,https://github.com/UFund-Me/Qbot
6,adams549659584 / go-proxy-bingai,自行搭建暂时失效，等后续更新。主站先紧急修复了，需要一键重置下，看看能不能撑住了。,"HTML,Go,JavaScript,Vue,TypeScript,CSS",1,https://github.com/adams549659584/go-proxy-bingai
7,SevaSk / ecoute,Ecoute is a live transcription tool that provi...,Python,1,https://github.com/SevaSk/ecoute
8,FlowiseAI / Flowise,Drag & drop UI to build your customized LLM fl...,"JavaScript,TypeScript,CSS,SCSS,HTML,Dockerfile",7,https://github.com/FlowiseAI/Flowise
9,facebookresearch / fairseq,Facebook AI Research Sequence-to-Sequence Tool...,"Python,Other",302,https://github.com/facebookresearch/fairseq
10,google / comprehensive-rust,This is the Rust course used by the Android te...,"Rust,Assembly,Handlebars,JavaScript,Shell,C,Other",105,https://github.com/google/comprehensive-rust
11,kyrolabs / awesome-langchain,😎 Awesome list of tools and projects with the ...,-,14,https://github.com/kyrolabs/awesome-langchain
12,Zeqiang-Lai / DragGAN,"Unofficial implementation of ""Drag Your GAN: I...","Python,Cuda,C++,Jupyter Notebook",1,https://github.com/Zeqiang-Lai/DragGAN
13,iryna-kondr / scikit-llm,Seamlessly integrate powerful language models ...,Python,2,https://github.com/iryna-kondr/scikit-llm
14,Blazity / next-enterprise,💼 An enterprise-grade Next.js boilerplate for ...,"TypeScript,JavaScript,CSS",3,https://github.com/Blazity/next-enterprise
15,imartinez / privateGPT,Interact privately with your documents using t...,"TypeScript,JavaScript,CSS",3,https://github.com/imartinez/privateGPT
16,ricklamers / gpt-code-ui,An open source implementation of OpenAI's Chat...,"Python,TypeScript,CSS,Makefile,Shell,JavaScrip...",2,https://github.com/ricklamers/gpt-code-ui
17,pedroslopez / whatsapp-web.js,A WhatsApp client library for NodeJS that conn...,"JavaScript,Shell",91,https://github.com/pedroslopez/whatsapp-web.js
18,Innocentsax / ALX-RESOURCES_FROM_BEGINNER_TO_A...,"These REPO contains all ALX resources, with Ad...",-,5,https://github.com/Innocentsax/ALX-RESOURCES_F...
19,shadcn / ui,Beautifully designed components built with Rad...,"TypeScript,JavaScript,CSS,Shell",61,https://github.com/shadcn/ui
20,ClemensElflein / OpenMower,Let's upgrade cheap off-the-shelf robotic mowe...,"C,C++,Other",6,https://github.com/ClemensElflein/OpenMower
21,hwchase17 / langchain,⚡ Building applications with LLMs through comp...,"Python,Jupyter Notebook,Other",782,https://github.com/hwchase17/langchain
22,arthurspk / guiadevbrasil,Um guia extenso de informações com um vasto co...,-,60,https://github.com/arthurspk/guiadevbrasil
23,dair-ai / Prompt-Engineering-Guide,"🐙 Guides, papers, lecture, notebooks and resou...","Jupyter Notebook,TypeScript,Other",78,https://github.com/dair-ai/Prompt-Engineering-...
24,anse-app / anse,"Supercharged experience for ChatGPT, DALL-E an...","TypeScript,CSS,JavaScript,Astro,Dockerfile",8,https://github.com/anse-app/anse

### 5. Scrape the details of top 100 songs on billiboard.com. 
##### Url = https://www.billboard.com/
##### You have to find the following details:
1. Song name
2. Artist name
3. Last week rank
4. Peak rank
5. Weeks on board

#### Solution

In [29]:
#importing required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [30]:
# getting the webpage https://www.billboard.com/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# # getting the link
driver.get('https://www.billboard.com/')

In [31]:
# clicking charts button
charts_btn = WebDriverWait(driver,30).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')))
charts_btn.click()

#clicking hot 100 button
h_btn = WebDriverWait(driver,30).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]')))
driver.execute_script("window.scrollBy(0,700)")
time.sleep(1)
h_btn.click()

In [32]:
# Creating Empty List
Song_name =[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [33]:
# Scraping Data
data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')))
for i in data:
    Song_name.append(i.text.split('\n')[0])
    Artist_name.append(i.text.split('\n')[1])
    Last_week_rank.append(i.text.split('\n')[2])
    Peak_rank.append(i.text.split('\n')[3])
    Weeks_on_board.append(i.text.split('\n')[4])

In [34]:
print(len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board))

100 100 100 100 100

In [35]:
# Creating Data Frame
df5 = pd.DataFrame({'Song Name':Song_name,'Artist Name':Artist_name,'Last week rank':Last_week_rank,'Peak Rank':Peak_rank,'Weeks on board':Weeks_on_board})
df5

,Song Name,Artist Name,Last week rank,Peak Rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,16
1,All My Life,Lil Durk Featuring J. Cole,-,2,1
2,Flowers,Miley Cyrus,3,1,18
3,Kill Bill,SZA,2,1,23
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,4,4,9
...,...,...,...,...,...
95,Forever,Lil Baby Featuring Fridayy,87,8,19
96,Private Landing,Don Toliver Featuring Justin Bieber & Future,100,72,6
97,I Heard,YoungBoy Never Broke Again,-,98,1
98,Sunrise,Morgan Wallen,89,30,11
99,Happy,NF,95,54,6

In [36]:
driver.close()

### 6. Scrape the details of Highest sellingnovels.
##### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
##### You have to find the following details:
1. Book name
2. Author name
3. Volumes sold
4. Publisher
5. Genre

#### Solution

In [37]:
#importing required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [38]:
# getting the webpage https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# # getting the link
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [39]:
# Creating Empty Lists
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]


#Scraping Name Data
Book_name_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')))
for i in Book_name_data:
    Book_name.append(i.text)

#Scraping Author Name Data
Author_name_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')))
for i in Author_name_data:
    Author_name.append(i.text)
    
#Scraping Volumes sold Data
Volumes_sold_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')))
for i in Volumes_sold_data:
    Volumes_sold.append(i.text)
    
#Scraping Publisher Data
Publisher_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')))
for i in Publisher_data:
    Publisher.append(i.text)
    
#Scraping Genre Data
Genre_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')))
for i in Genre_data:
    Genre.append(i.text)

In [40]:
print(len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [41]:
# Creating Data Frame
df6 = pd.DataFrame({'Book Name':Book_name,'Author name':Author_name,'Volumes Sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})

df6

,Book Name,Author name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [42]:
driver.close()

### 7. Scrape the details most watched tv series of all time from imdb.com. 
##### Url = https://www.imdb.com/list/ls095964455/
##### You have to find the following details:
1. Name
2. Year span
3. Genre
4. Run time
5. Ratings
6. Votes

#### Solution

In [43]:
#importing required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [44]:
# getting the webpage  https://www.imdb.com/list/ls095964455/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# # getting the link
driver.get('https://www.imdb.com/list/ls095964455/')

In [45]:
# Creating Empty Lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings=[]
Votes=[]

In [46]:
# Scraping Name Data
Name_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//h3[@class="lister-item-header"]/a')))
for i in Name_data:
    Name.append(i.text)


# Scraping Year Span Data
Year_span_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//h3[@class="lister-item-header"]/span[2]')))
for i in Year_span_data:
    Year_span.append(i.text)

#Scraping Genre Data
Genre_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="lister-item-content"]//p[1]/span[5]')))
for i in Genre_data:
    Genre.append(i.text)
    
#Scraping Run Time Data
Run_time_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="lister-item-content"]//p[1]/span[3]')))
for i in Run_time_data:
    Run_time.append(i.text)

# Scraping Ratings Data
Ratings_data= WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="lister-item-content"]/div[1]/div[1]/span[2]')))
for i in Ratings_data:
    Ratings.append(i.text)
    
# Scraping Votes Data
Votes_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')))
for i in Votes_data:
    Votes.append(i.text)

In [47]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [48]:
# Creating Data Frame
df7 = pd.DataFrame({'Name':Name,'Year span':Year_span,'Genre':Genre,'Run time':Run_time,'Ratings':Ratings,'Votes':Votes})

df7

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,161,690"
1,Stranger Things,(2016–2022),"Drama, Fantasy, Horror",51 min,8.7,"1,241,978"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,026,974"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,106"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,202"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,656"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,688"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,604"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,193"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,046"

In [49]:
driver.close()

### 8. Details of Datasets from UCI machine learning repositories. 
##### Url = https://archive.ics.uci.edu/
##### You have to find the following details:
1. Dataset name
2. Data type
3. Task
4. Attribute type
5. No of instances
6. No of attribute
7. Year

#### Solution

In [50]:
#importing required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [51]:
# getting the webpage  https://archive.ics.uci.edu/
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# # getting the link
driver.get('https://archive.ics.uci.edu/')

In [52]:
# Clicking view all Data sets
View_btn=WebDriverWait(driver,30).until(EC.presence_of_element_located((By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')))
View_btn.click()

In [53]:
# Creating empty Lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []

# Scraing data
data =  WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//table[@border="1"]//p[@class="normal"]')))
for i in range(0,len(data),7):
    Dataset_name.append(data[i].text)

for i in range(1,len(data),7):
    Data_type.append(data[i].text)    
    
for i in range(2,len(data),7):
    Task.append(data[i].text)
    
for i in range(3,len(data),7):
    Attribute_type.append(data[i].text)
    
for i in range(4,len(data),7):
    No_of_instances.append(data[i].text)
    
for i in range(5,len(data),7):
    No_of_attribute.append(data[i].text)
    
for i in range(6,len(data),7):
    Year.append(data[i].text)

In [54]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year))

622 622 622 622 622 622 622

In [65]:
# Creating Data Frame
df8 = pd.DataFrame({'Dataset Name':Dataset_name,'Data Type':Data_type,'Task':Task,'Attribute Type':Attribute_type,'No of instances':No_of_instances,'No of attribute':No_of_attribute,'Year':Year})

df8

,Dataset Name,Data Type,Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [56]:
driver.close()

### 9. Scrape the details of Data science recruiters 
##### Url = https://www.naukri.com/hr-recruiters-consultants
##### You have to find the following details: 
1. Name
2. Designation
3. Company 
4. Skills they hire for 
5. Location

Note: - From naukri.com homepage click on the recruiters option and then on the search pane type Data science and 
click on search. All this should be done through code

#### Solution

In [57]:
#importing required libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [58]:
# getting the webpage  https://www.naukri.com/hr-recruiters-consultants
# connecting to chrome driver
driver = webdriver.Chrome(r"C:\Users\kiran\Desktop\datatrained\jupitor notebooks\Internship\webdriver\chromedriver.exe")
# # getting the link
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [59]:
# Entering Data science on search Bar
Search_bar = WebDriverWait(driver,30).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')))
Search_bar.send_keys('Data science')
Search_bar.send_keys(Keys.RETURN)

In [60]:
# Creating Empty Lists
Name = []
Designation = []
Company=[]
Skills = []
Location=[]

In [61]:
# Scraping Name,Designation,Company & Location Data
while True:
    try:
        Name_data = WebDriverWait(driver,5).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="vcard"]')))
    except:
        break
    for i in Name_data:
        try:
            Name.append(i.text.split('\n')[0])
        except:
            Name.append('-')
        try:
            Designation.append(i.text.split('\n')[1])
        except:
            Designation.append('-')
        try:
            Company.append(i.text.split('\n')[2])
        except:
            Company.append('-')
        try:
            Location.append(i.text.split('\n')[3])
        except:
            Location.append('-')



    # Scraping Skills Data
    Skills_data = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.XPATH,'//div[@class="hireSec highlightable"]')))
    for i in Skills_data:
        Skills.append(i.text)

    # Clicking Next Button

    try:
        Nxt_btn = WebDriverWait(driver,5).until(EC.presence_of_element_located((By.XPATH,'//button[contains(text(),"Next")]')))

        Nxt_btn.click()

    except:
        break

In [62]:
print(len(Designation),len(Company),len(Location),len(Skills),len(Name))

150 150 150 150 150

In [63]:
# Creating Data Frame
df9 = pd.DataFrame({'Name':Name,'Designation':Designation,'Company':Company,'Location':Location,'Skills':Skills})
df9

,Name,Designation,Company,Location,Skills
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
...,...,...,...,...,...
145,Sathya,Company Recruiter,Sathya Technologies,Hyderabad / Secunderabad,"Teaching, tableau, Power Bi, Data Analytics, s..."
146,Sindhuja,Hr Associate,Cappius,Hyderabad / Secunderabad,"Big Data Analytics, Full Mean Stack"
147,Amit Nagar,Founder,CONNEXIONS,Bengaluru / Bangalore,"fintech, Big Data, angularjs, sales, nosql, Co..."
148,Kusum Gaur,Recruitment Associate,Microsoft Corporation,Gurgaon,"Mobile Application Development, Atg Developer,..."
149,Mohammad Raashid,Recruitment Consultant,Freelancer,Mumbai,"Manufacturing Industry, construction, IT Industry"

In [64]:
driver.close()