# 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

#### Solution

In [1]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Sending a GET request to the Wikipedia URL
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [3]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [4]:
#Creating a empty Data frame for storing Data
df = pd.DataFrame(data=None,columns=['Header Tags','Text Data'])

In [5]:
# Finding all header tags and storing the tag name and text in Data Frame
for i in ['h1','h2','h3','h4','h5','h6']:
    data=soup.find_all(i)
    if len(data) !=0:
        for k in range(len(data)):
            df=df.append({'Header Tags':data[k].name,'Text Data':data[k].text},ignore_index=True)

In [6]:
# The Required Data Frame
df

  Header Tags                      Text Data
0          h1                      Main Page
1          h1           Welcome to Wikipedia
2          h2  From today's featured article
3          h2               Did you know ...
4          h2                    In the news
5          h2                    On this day
6          h2       Today's featured picture
7          h2       Other areas of Wikipedia
8          h2    Wikipedia's sister projects
9          h2            Wikipedia languages

# 2) Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame.

#### Solution

In [7]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [8]:
# Sending a GET request
page = requests.get('https://www.imdb.com/chart/top/')
page

In [9]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [10]:
# Creating empty lists for storing data
name= []
rating= []
yor= []

In [11]:
# getting rating column
data=soup.find_all('td',class_="ratingColumn imdbRating")
for i in range(50):
    text=data[i].text[1:4]
    rating.append(text)

# getting titile and year data
data=soup.find_all('td',class_="titleColumn")
for i in range(50):
    title_text = data[i].text.split('\n')[2]
    year_text = data[i].text.split('\n')[3][1:5]
    name.append(title_text)
    yor.append(year_text)

In [12]:
#Creating Data Frame
df1 = pd.DataFrame({'Movie Name':name,'Year of Release':yor,'Imdb Rating':rating})

In [13]:
df1

,Movie Name,Year of Release,Imdb Rating
0,The Shawshank Redemption,1994,9.2
1,The Godfather,1972,9.2
2,The Dark Knight,2008,9.0
3,The Godfather Part II,1974,9.0
4,12 Angry Men,1957,9.0
5,Schindler's List,1993,8.9
6,The Lord of the Rings: The Return of the...,2003,8.9
7,Pulp Fiction,1994,8.8
8,The Lord of the Rings: The Fellowship of...,2001,8.8
9,"Il buono, il brutto, il cattivo",1966,8.8
10,Forrest Gump,1994,8.8
11,Fight Club,1999,8.7
12,The Lord of the Rings: The Two Towers,2002,8.7
13,Inception,2010,8.7
14,The Empire Strikes Back,1980,8.7
15,The Matrix,1999,8.7
16,GoodFellas,1990,8.7
17,One Flew Over the Cuckoo's Nest,1975,8.6
18,Se7en,1995,8.6
19,It's a Wonderful Life,1946,8.6
20,Shichinin no samurai,1954,8.6
21,The Silence of the Lambs,1991,8.6
22,Saving Private Ryan,1998,8.6
23,Cidade de Deus,2002,8.6
24,Interstellar,2014,8.6
25,La vita è bella,1997,8.6
26,The Green Mile,1999,8.6
27,Star Wars,1977,8.5
28,Terminator 2: Judgment Day,1991,8.5
29,Back to the Future,1985,8.5
30,Sen to Chihiro no kamikakushi,2001,8.5
31,The Pianist,2002,8.5
32,Psycho,1960,8.5
33,Gisaengchung,2019,8.5
34,Léon,1994,8.5
35,The Lion King,1994,8.5
36,Gladiator,2000,8.5
37,American History X,1998,8.5
38,The Departed,2006,8.5
39,Whiplash,2014,8.5
40,The Prestige,2006,8.5
41,The Usual Suspects,1995,8.5
42,Casablanca,1942,8.5
43,Hotaru no haka,1988,8.5
44,Seppuku,1962,8.5
45,The Intouchables,2011,8.5
46,Modern Times,1936,8.4
47,Once Upon a Time in the West,1968,8.4
48,Nuovo Cinema Paradiso,1988,8.4
49,Rear Window,1954,8.4

# 3) Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

#### SOLUTION

In [14]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [15]:
# Sending a GET request 
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [16]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [17]:
# Creating empty lists for storing data
name= []
rating= []
yor= []

In [18]:
# getting rating column
data=soup.find_all('td',class_="ratingColumn imdbRating")
for i in range(50):
    text=data[i].text[1:4]
    rating.append(text)

# getting titile and year data
data=soup.find_all('td',class_="titleColumn")
for i in range(50):
    title_text = data[i].text.split('\n')[2]
    year_text = data[i].text.split('\n')[3][1:5]
    name.append(title_text)
    yor.append(year_text)

In [19]:
#Creating Data Frame
df2 = pd.DataFrame({'Movie Name':name,'Year of Release':yor,'Imdb Rating':rating})

In [20]:
df2

                                   Movie Name Year of Release Imdb Rating
0         Ramayana: The Legend of Prince Rama            1993         8.6
1                  Rocketry: The Nambi Effect            2022         8.4
2                                     Nayakan            1987         8.4
3                                    Gol Maal            1979         8.4
4                                 777 Charlie            2022         8.4
5                                  Anbe Sivam            2003         8.4
6                           Pariyerum Perumal            2018         8.4
7                                 Apur Sansar            1959         8.4
8                                    3 Idiots            2009         8.4
9                                    Jai Bhim            2021         8.3
10                           Manichitrathazhu            1993         8.3
11                                      #Home            2021         8.3
12                            Soorarai Pottru            2020         8.3
13                               Black Friday            2004         8.3
14                          Kumbalangi Nights            2019         8.3
15                          C/o Kancharapalem            2018         8.3
16                           Taare Zameen Par            2007         8.3
17                                   Kireedam            1989         8.3
18                                     Dangal            2016         8.3
19                                     Kaithi            2019         8.3
20                                     Jersey            2019         8.3
21                                         96            2018         8.3
22                                Maya Bazaar            1957         8.2
23                                  Natsamrat            2016         8.2
24                                 Drishyam 2            2021         8.2
25                                     Asuran            2019         8.2
26                                 Sita Ramam            2022         8.2
27                               Thevar Magan            1992         8.2
28                                 Visaaranai            2015         8.2
29                        Sarpatta Parambarai            2021         8.2
30                                 Thalapathi            1991         8.2
31                               Nadodikkattu            1987         8.2
32                            Pather Panchali            1955         8.2
33                                   Drishyam            2013         8.2
34                               Thani Oruvan            2015         8.2
35                         Jaane Bhi Do Yaaro            1983         8.2
36                               Vada Chennai            2018         8.2
37                                  Aparajito            1956         8.2
38                          Khosla Ka Ghosla!            2006         8.2
39                               Sardar Udham            2021         8.2
40                                    Anniyan            2005         8.2
41                                   Ratsasan            2018         8.1
42                              Chupke Chupke            1975         8.1
43                         Gangs of Wasseypur            2012         8.1
44                                   Drishyam            2015         8.1
45                                   Mahanati            2018         8.1
46                                    Peranbu            2018         8.1
47                             Bangalore Days            2014         8.1
48                                     Premam            2015         8.1
49                                      Satya            1998         8.1

### 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

##### Solution

In [21]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [22]:
# Sending a GET request 
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [23]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [24]:
# Creating empty lists for storing data
name = []
Term = []

In [25]:
data=soup.find_all('div',class_="presidentListing")
for i in range(len(data)):
    name.append(data[i].text.split('\n')[1].split("(")[0][:-1])
    Term.append(data[i].text.split('\n')[2][16:])

In [26]:
print(len(name),len(Term))

14 14

In [27]:
#Creating Data Frame
df3 = pd.DataFrame({'Name':name,'Term of office':Term,})
df3

,Name,Term of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

### 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
1. Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
2. Top 10 ODI Batsmen along with the records of their team andrating.
3. Top 10 ODI bowlers along with the records of their team andrating.

#### A) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

##### Solution

In [28]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [29]:
# Sending a GET request 
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [30]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [31]:
# Creating empty lists for storing data
name = []
matches = []
points = []
rating = []

In [32]:
# getting name data
data=soup.find_all('span',class_="u-show-phablet")
for i in range(10):
    name.append(data[i].text)

In [33]:
# getting 1st team details
data=soup.find('td',class_="rankings-block__banner--matches")
matches.append(data.text)
data=soup.find('td',class_="rankings-block__banner--points")
points.append(data.text)
data=soup.find('td',class_="rankings-block__banner--rating u-text-right")
rating.append(data.text.split("\n")[1][-5:])

In [34]:
#getting remaining 9 teams data
data=soup.find_all('td',class_="table-body__cell u-center-text")
for i in range(0,18,2):
    matches.append(data[i].text)
for i in range(1,19,2):
    points.append(data[i].text)
data = soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in range(9):
    rating.append(data[i].text)

In [35]:
print(len(name),len(matches),len(points),len(rating))

10 10 10 10

In [36]:
#Creating Data Frame
df4 = pd.DataFrame({'Team Name':name,'Matches':matches,'Points':points,'Rating':rating})
df4

  Team Name Matches Points Rating
0       AUS      35  3,965    113
1        NZ      31  3,504    113
2       IND      47  5,294    113
3       ENG      36  3,988    111
4       PAK      25  2,649    106
5        SA      31  3,141    101
6       BAN      38  3,625     95
7        SL      36  3,099     86
8        WI      43  3,105     72
9       AFG      20  1,419     71

#### B) Top 10 ODI Batsmen along with the records of their team andrating.

##### Solution

In [37]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [38]:
# Sending a GET request 
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [39]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [40]:
# Creating empty lists for storing data
name = []
Team = []
rating = []

In [41]:
# getting Top player details
data=soup.find('div',class_="rankings-block__banner--name-large")
name.append(data.text)
data=soup.find('div',class_="rankings-block__banner--nationality")
Team.append(data.text.split('\n')[2])
data=soup.find('div',class_="rankings-block__banner--rating")
rating.append(data.text)

In [42]:
#getting remaining 9 teams data
data=soup.find_all('td',class_="table-body__cell rankings-table__name name")
for i in range(9):
    name.append(data[i].text.split('\n')[1])
data = soup.find_all('span',class_="table-body__logo-text")    
for i in range(9):
    Team.append(data[i].text)
data = soup.find_all('td',class_="table-body__cell rating")
for i in range(9):
    rating.append(data[i].text)

In [43]:
print(len(name),len(Team),len(rating))

10 10 10

In [44]:
#Creating Data Frame
df5 = pd.DataFrame({'Player Name':name,'Player Team':Team,'Player Rating':rating})
df5

             Player Name Player Team Player Rating
0             Babar Azam         PAK           887
1  Rassie van der Dussen          SA           777
2            Imam-ul-Haq         PAK           740
3           Shubman Gill         IND           738
4           David Warner         AUS           726
5            Virat Kohli         IND           719
6        Quinton de Kock          SA           718
7           Rohit Sharma         IND           707
8            Steve Smith         AUS           702
9           Fakhar Zaman         PAK           699

#### C) Top 10 ODI bowlers along with the records of their team andrating.

##### Solution:

In [45]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [46]:
# Sending a GET request 
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [47]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [48]:
# Creating empty lists for storing data
name = []
Team = []
rating = []

In [49]:
# getting Top player details
data=soup.find('div',class_="rankings-block__banner--name-large")
name.append(data.text)
data=soup.find('div',class_="rankings-block__banner--nationality")
Team.append(data.text.split('\n')[2])
data=soup.find('div',class_="rankings-block__banner--rating")
rating.append(data.text)

In [50]:
#getting remaining 9 teams data
data=soup.find_all('td',class_="table-body__cell rankings-table__name name")
for i in range(9):
    name.append(data[i].text.split('\n')[1])
data = soup.find_all('span',class_="table-body__logo-text")    
for i in range(9):
    Team.append(data[i].text)
data = soup.find_all('td',class_="table-body__cell rating")
for i in range(9):
    rating.append(data[i].text)

In [51]:
print(len(name),len(Team),len(rating))

10 10 10

In [52]:
#Creating Data Frame
df6 = pd.DataFrame({'Player Name':name,'Player Team':Team,'Player Rating':rating})
df6

        Player Name Player Team Player Rating
0    Josh Hazlewood         AUS           705
1       Trent Boult          NZ           694
2    Mohammed Siraj         IND           691
3    Mitchell Starc         AUS           686
4        Matt Henry          NZ           676
5       Rashid Khan         AFG           659
6        Adam Zampa         AUS           652
7    Shaheen Afridi         PAK           641
8  Mujeeb Ur Rahman         AFG           637
9   Shakib Al Hasan         BAN           636

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
##### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
##### b) Top 10 women’s ODI Batting players along with the records of their team and rating.
##### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

##### Solution

In [53]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [54]:
# Sending a GET request 
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [55]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [56]:
# Creating empty lists for storing data
name = []
matches = []
points = []
rating = []

In [57]:
# getting name data
data=soup.find_all('span',class_="u-show-phablet")
for i in range(10):
    name.append(data[i].text)

In [58]:
# getting 1st team details
data=soup.find('td',class_="rankings-block__banner--matches")
matches.append(data.text)
data=soup.find('td',class_="rankings-block__banner--points")
points.append(data.text)
data=soup.find('td',class_="rankings-block__banner--rating u-text-right")
rating.append(data.text.split("\n")[1][-5:])

In [59]:
#getting remaining 9 teams data
data=soup.find_all('td',class_="table-body__cell u-center-text")
for i in range(0,18,2):
    matches.append(data[i].text)
for i in range(1,19,2):
    points.append(data[i].text)
data = soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in range(9):
    rating.append(data[i].text)

In [60]:
print(len(name),len(matches),len(points),len(rating))

10 10 10 10

In [61]:
#Creating Data Frame
df7 = pd.DataFrame({'Team Name':name,'Matches':matches,'Points':points,'Rating':rating})
df7

  Team Name Matches Points Rating
0       AUS      21  3,603    172
1       ENG      28  3,342    119
2        SA      26  3,098    119
3       IND      27  2,820    104
4        NZ      25  2,553    102
5        WI      27  2,535     94
6       BAN      13    983     76
7       THA      11    821     75
8       PAK      27  1,678     62
9        SL       8    353     44

### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

#### Soluton

In [62]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [63]:
# Sending a GET request 
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [64]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [65]:
# Creating empty lists for storing data
name = []
Team = []
rating = []

In [66]:
# getting Top player details
data=soup.find('div',class_="rankings-block__banner--name-large")
name.append(data.text)
data=soup.find('div',class_="rankings-block__banner--nationality")
Team.append(data.text.split('\n')[2])
data=soup.find('div',class_="rankings-block__banner--rating")
rating.append(data.text)

In [67]:
#getting remaining 9 teams data
data=soup.find_all('td',class_="table-body__cell rankings-table__name name")
for i in range(9):
    name.append(data[i].text.split('\n')[1])
data = soup.find_all('span',class_="table-body__logo-text")    
for i in range(9):
    Team.append(data[i].text)
data = soup.find_all('td',class_="table-body__cell rating")
for i in range(9):
    rating.append(data[i].text)

In [68]:
print(len(name),len(Team),len(rating))

10 10 10

In [69]:
#Creating Data Frame
df8 = pd.DataFrame({'Player Name':name,'Player Team':Team,'Player Rating':rating})
df8

           Player Name Player Team Player Rating
0         Alyssa Healy         AUS           762
1          Beth Mooney         AUS           754
2      Laura Wolvaardt          SA           732
3       Natalie Sciver         ENG           731
4          Meg Lanning         AUS           717
5     Harmanpreet Kaur         IND           716
6      Smriti Mandhana         IND           714
7  Chamari Athapaththu          SL           655
8    Amy Satterthwaite          NZ           641
9         Ellyse Perry         AUS           626

### c) Top 10 women’s ODI all-rounder along with the records of their team and rating

##### Solution

In [70]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [71]:
# Sending a GET request 
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')
page

In [72]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [73]:
# Creating empty lists for storing data
name = []
Team = []
rating = []

In [74]:
# getting Top player details
data=soup.find('div',class_="rankings-block__banner--name-large")
name.append(data.text)
data=soup.find('div',class_="rankings-block__banner--nationality")
Team.append(data.text.split('\n')[2])
data=soup.find('div',class_="rankings-block__banner--rating")
rating.append(data.text)

In [75]:
#getting remaining 9 teams data
data=soup.find_all('td',class_="table-body__cell rankings-table__name name")
for i in range(9):
    name.append(data[i].text.split('\n')[1])
data = soup.find_all('span',class_="table-body__logo-text")    
for i in range(9):
    Team.append(data[i].text)
data = soup.find_all('td',class_="table-body__cell rating")
for i in range(9):
    rating.append(data[i].text)

In [76]:
print(len(name),len(Team),len(rating))

10 10 10

In [77]:
#Creating Data Frame
df9 = pd.DataFrame({'Player Name':name,'Player Team':Team,'Player Rating':rating})
df9

           Player Name Player Team Player Rating
0    Sophie Ecclestone         ENG           751
1        Jess Jonassen         AUS           723
2       Shabnim Ismail          SA           722
3         Megan Schutt         AUS           704
4      Hayley Matthews          WI           660
5           Kate Cross         ENG           655
6       Ayabonga Khaka          SA           634
7  Rajeshwari Gayakwad         IND           617
8       Marizanne Kapp          SA           598
9        Deepti Sharma         IND           589

## 7)Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
1. Headline
2. Time
3. News Link

#### Solution

In [78]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [79]:
# Sending a GET request 
page = requests.get('https://www.cnbc.com/world/?region=world')
page

In [80]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [81]:
# Creating empty lists and storing Data
title = []
link = []
articles = soup.find_all('a', class_='LatestNews-headline')
for i in range(len(articles)):

    title.append(articles[i].text)
    link.append(articles[i].get('href'))
time = []
articles = soup.find_all('time', class_='LatestNews-timestamp')
for i in range(len(articles)):

    time.append(articles[i].text)

In [82]:
print(len(title),len(link),len(time))

30 30 30

In [83]:
# Creating the Required Data Frame
df9 = pd.DataFrame({'News Title':title,'Time':time,'News Link':link})
df9

,News Title,Time,News Link
0,Biden to make 2024 economic case in first spee...,12 Min Ago,https://www.cnbc.com/2023/04/25/joe-biden-2024...
1,Halliburton's first-quarter results validate o...,17 Min Ago,https://www.cnbc.com/2023/04/25/halliburtons-q...
2,"Danaher's guidance weighs on the stock, forces...",32 Min Ago,https://www.cnbc.com/2023/04/25/danahers-guida...
3,Stanford and MIT study: A.I. boosted worker pr...,39 Min Ago,https://www.cnbc.com/2023/04/25/stanford-and-m...
4,Watch live as Japanese ispace aims to be first...,56 Min Ago,https://www.cnbc.com/2023/04/25/ispace-moon-la...
5,How the U.S. built a junk fee economy,1 Hour Ago,https://www.cnbc.com/2023/04/25/how-the-us-bui...
6,BofA double upgrades this private social club ...,1 Hour Ago,https://www.cnbc.com/2023/04/25/bank-of-americ...
7,"Bitcoin volatility is back to March lows, but ...",1 Hour Ago,https://www.cnbc.com/2023/04/25/bitcoin-volati...
8,McDonald's diners push back against price incr...,1 Hour Ago,https://www.cnbc.com/2023/04/25/mcdonalds-dine...
9,These private and public colleges top the list...,1 Hour Ago,https://www.cnbc.com/2023/04/25/best-colleges-...
10,Technology’s year of efficiency faces it first...,2 Hours Ago,https://www.cnbc.com/2023/04/25/technologys-ye...
11,People are using A.I. chatbots to write Amazon...,2 Hours Ago,https://www.cnbc.com/2023/04/25/amazon-reviews...
12,ChatGPT and AI are the next worker recruitment...,2 Hours Ago,https://www.cnbc.com/2023/04/25/chatgpt-and-ai...
13,"This 33-year-old went from a $60,000 salary to...",2 Hours Ago,https://www.cnbc.com/2023/04/25/33-year-old-in...
14,"The 10 highest-paying internships of 2023, acc...",3 Hours Ago,https://www.cnbc.com/2023/04/25/glassdoor-repo...
15,No 'immediate path forward': CFTC is talking t...,3 Hours Ago,https://www.cnbc.com/2023/04/25/cftc-commissio...
16,Famed investor Peter Lynch says he doesn't own...,3 Hours Ago,https://www.cnbc.com/2023/04/25/famed-investor...
17,Travel recovery boosts jet engine units at GE ...,3 Hours Ago,https://www.cnbc.com/2023/04/25/travel-recover...
18,"Amazon, Apple and more: EU names the Big Tech ...",3 Hours Ago,https://www.cnbc.com/2023/04/25/amazon-apple-a...
19,Jim Cramer's top 10 things to watch in the sto...,3 Hours Ago,https://www.cnbc.com/2023/04/25/jim-cramers-to...
20,Investing legend Peter Lynch on the investment...,3 Hours Ago,https://www.cnbc.com/2023/04/25/investing-lege...
21,Microsoft set to report quarterly earnings aft...,3 Hours Ago,https://www.cnbc.com/2023/04/25/microsoft-msft...
22,Self-made millionaire: How people in their 20s...,3 Hours Ago,https://www.cnbc.com/2023/04/25/ramit-sethi-be...
23,Alphabet to issue first-quarter results after ...,3 Hours Ago,https://www.cnbc.com/2023/04/25/alphabet-googl...
24,Nvidia has a new way to prevent A.I. chatbots ...,3 Hours Ago,https://www.cnbc.com/2023/04/25/nvidia-nemo-gu...
25,Lucid's Gravity SUV takes another step toward ...,3 Hours Ago,https://www.cnbc.com/2023/04/25/lucid-gravity-...
26,"GM to end production of Chevy Bolt, its first ...",4 Hours Ago,https://www.cnbc.com/2023/04/25/gm-bolt-ev-pro...
27,Peter Lynch says his investing strategy still ...,4 Hours Ago,https://www.cnbc.com/2023/04/25/peter-lynch-sa...
28,Johnson & Johnson's Kenvue spinoff revives hop...,4 Hours Ago,https://www.cnbc.com/2023/04/25/johnson-johnso...
29,"Tuesday's top analyst calls: Meta, Tesla, Amaz...",4 Hours Ago,https://www.cnbc.com/2023/04/25/wall-street-an...

### 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame
1. Paper Title
2. Authors
3. Published Date
4. Paper URL

##### Solution

In [84]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [85]:
# Sending a GET request 
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

In [86]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [87]:
# Creating empty lists and storing Data
Paper_Title = []
Authors = []
Published_Date = []
Paper_URL = []

for i in soup.find_all('h2', class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    Paper_Title.append(i.text)
for i in soup.find_all('span', class_='sc-1w3fpd7-0 dnCnAO'):
    Authors.append(i.text)
for i in soup.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    Published_Date.append(i.text)    
for i in soup.find_all('a',class_='sc-5smygv-0 fIXTHm'):
    Paper_URL.append(i.get('href'))

In [88]:
print(len(Paper_Title),len(Authors),len(Published_Date),len(Paper_URL))

25 25 25 25

In [89]:
# Creating the Required Data Frame
df10 = pd.DataFrame({'Paper Title':Paper_Title,'Authors':Authors,'Published Date':Published_Date,'Paper URL':Paper_URL})
df10

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

### 9) Write a python program to scrape mentioned details from dineout.co.in and make data frame
1. Restaurant name
2. Cuisine
3. Location
4. Ratings
5. Image URL

##### Solution

In [90]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [91]:
# Sending a GET request 
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [92]:
# using BeautifulSoup 
soup = BeautifulSoup(page.content)

In [93]:
# Creating empty lists and storing Data
Restaurant_name = []
Cuisine = []
Location=[]
Ratings=[]
Image_URL=[]

for i in soup.find_all('a',class_='restnt-name ellipsis'):
    Restaurant_name.append(i.text)
for i in soup.find_all('span',class_='double-line-ellipsis'):
    Cuisine.append(i.text.split('|')[1])
for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    Location.append(i.text)    
for i in soup.find_all('div',class_='restnt-rating rating-4'):
    Ratings.append(i.text)
for i in soup.find_all('img',class_='no-img'):
    Image_URL.append(i.get('data-src'))

In [94]:
print(len(Restaurant_name),len(Cuisine),len(Location),len(Ratings),len(Image_URL))

9 9 9 9 9

In [95]:
# Creating the Required Data Frame
df10 = pd.DataFrame({'Restaurant Name':Restaurant_name,'Cuisine':Cuisine,'Location':Location,'Rating':Ratings,'Image URL':Image_URL})
df10

,Restaurant Name,Cuisine,Location,Rating,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...